@model Student
@{
    ViewBag.Title = "Student Advisement Manager Home";
}


<div>
    <h2 style="color: red">@TempData["UserMessage"]</h2>
</div>

<div class="container">
    <main>
        <form method="get" class="form-horizontal">
            <div class="row">
                <label class="control-label col-sm-2">First Name:</label>
                <input asp-for="FirstName" readonly
                       class="form-control col-sm-10" />
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Last Name:</label>
                <input asp-for="LastName" readonly
                       class="form-control col-sm-10" />
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Email:</label>
                <input asp-for="Email" readonly
                       class="form-control col-sm-10" />
            </div>
            <div class="row">
                <label class="control-label col-sm-2">General Advisor:</label>
                <input asp-for="GeneralAdvisor" readonly
                       class="form-control col-sm-10" />
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Faculty Advisor:</label>
                <input asp-for="FacultyAdvisor" readonly
                       class="form-control col-sm-10" />
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Advisement Status:</label>
                <input asp-for="Hold" readonly
                       class="form-control col-sm-10" />
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Meeting:</label>
                <input asp-for="AdvisementSessionStatusMessage" readonly
                       class="form-control col-sm-10" />
            </div>

            @{
                if (Model.CanScheduleMeeting())
                {
                    <a asp-controller="AdvisementSession" asp-action="ScheduleAdvisementSession"
                       class="btn btn-primary col-sm-5"
                       asp-route-studentid="@Model.Id"
                       asp-route-studentholdid="@Model.Hold.Id"
                       asp-route-generaladvisorid="@Model.GeneralAdvisor.Id"
                       asp-route-facultyadvisorid="@Model.FacultyAdvisor.Id">

                        ScheduleAdvisement
                    </a>
                }
            }

            <a asp-controller="AdvisementSession" asp-action="AdvisementSessions" class="btn btn-secondary"
               asp-route-studentid="@Model.Id"
               asp-route-holdid="@Model.Hold.Id">
                View Previous Meetings
            </a>
            
            @if (Model.Meeting != null)
            {
                <a asp-controller="CancelMeeting" asp-action="CancelMeeting" asp-route-meetingId="@Model.Meeting.Id" 
                   asp-route-studentId="@Model.Id" class="btn btn-danger">Cancel Meeting</a>
            }
        </form>
    </main>
</div>