@model Student

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.FirstName @Model.LastName</h2>

<p>@Model.Email</p>

<h2>Meeting Time: @Model.Meeting.Date</h2>

<h3>Hold Reason: @Model.Hold.Reason </h3>
