@model AdvisementManagerWebApp.Models.StudentsVM

@{
    ViewData["Title"] = "Advisement Sessions";
}


    <div class="text-center">
        <h1 class="display-4">Advisement Sessions</h1>
    </div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].Email)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Email)
            </td>
            <td>
                <a asp-action="AdvisementSession" asp-route-id="@student.Id">View Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>

