@model AdvisementManagerSharedLibrary.Models.AdvisorHomeVM

@{
    ViewData["Title"] = "Advisement Sessions";
}

<div class="text-center">
    <h1 class="display-4">Advisement Sessions</h1>
</div>
<div>
    <h2 style="color: red">@TempData["UserMessage"]</h2>
</div>

<a asp-controller="UpdateAvailability" asp-action="UpdateAvailability"  asp-route-userName="@Context.Request.Cookies["AdvisementManager.LoginUser"]" class="btn btn-outline-primary">Update Availability</a>
<div class="row">
    <div class="col">
        <h2 align="center">Upcoming Meetings</h2>

        <div class="row">
            <table class="table table-bordered table-striped" style="margin:5px">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Students[0].FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Students[0].LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Students[0].Meeting.Date)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var meeting in Model.UpcomingMeetings)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => meeting.Student.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => meeting.Student.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => meeting.Date)
                            </td>
                            <td>
                                <a asp-action="AdvisementSession" asp-route-id="@meeting.Id">View Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="col">
        <h2 align="center">Students</h2>

        <div class="row">
            <table class="table table-bordered table-striped" style="margin:5px">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Students[0].FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Students[0].LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Students[0].Email)
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => student.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => student.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => student.Email)
                        </td>

                        @{
                            if (student.Hold.IsActive)
                            {
                                <th style="background-color: red">
                                    Active Hold
                                </th>
                            }
                            else
                            {
                                <th style="background-color: #61B329">
                                    Complete
                                </th>
                            }
                        }

                        <td>
                            <a asp-action="StudentAdvisementSummary" asp-route-id="@student.Id" asp-route-userName="@Context.Request.Cookies["AdvisementManager.LoginUser"]">View Details</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




