@model AdvisementManagerSharedLibrary.Models.AdvisementSessionVM

@{
    ViewData["Title"] = "Advisement Session";
}

<div class="text-center">
    <h2 class="display-3">Advisement Session</h2>
</div>

<div class="row">
    <div class="col">
        <div class="row">
            <label style="font-size:larger">Student: @Model.student.FullName</label>
        </div>
        <div class="row">
            <label style="font-size:larger">Email: @Model.student.Email</label>
            
        </div>
    </div>
    <div class="col">
        <div class="row">
            <label style="font-size:larger">Meeting Time: @Model.meetingTime</label>
        </div>
        <div class="row">
            <label style="font-size:larger">Hold: @Model.student.Hold.Reason</label>
        </div>
    </div>
</div>

@{ 
    string pastMeetingNotes = string.Empty;

    foreach (var meeting in Model.PastSessions)
    {
        pastMeetingNotes += meeting.Advisor.FullName + Environment.NewLine;
        pastMeetingNotes += meeting.Date + Environment.NewLine;
        pastMeetingNotes += meeting.Notes + Environment.NewLine + Environment.NewLine;
    }
}

<div class="row" style="padding-bottom:2em">
    <label class="text-center" style="font-size:larger">Past Meetings</label>
    <textarea class="form-control" readonly cols="25" rows="7">@pastMeetingNotes</textarea>
</div>

<div class="flex-lg-grow-0">
    <label class="text-center" style="font-size:larger">Notes</label>

    <form asp-action="ApproveMeetingAndUpdateHold" asp-route-id="@Model.sessionId"
          asp-route-notes="@Model.Notes" asp-route-holdId="@Model.student.Hold.Id"
        method="post">
        <textarea asp-for="Notes" class="form-control" cols="40" rows="7"></textarea>
        
        <div class="row" style="padding-top:1em">
            <center>
                <button type="submit" class="btn btn-primary" style="padding-right:1em">Approve</button>

                <a asp-action="AdvisementSessions"
                   class="btn btn-secondary" style="padding-left:1em">Cancel</a>
            </center>
        </div>
    </form>
</div>

<div>@TempData["MeetingTimeError"]</div>