@model Student

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (@Model.Meeting == null)
{
    ViewBag.MeetingTime = "no meeting scheduled";
}
else
{
    ViewBag.MeetingTime = @Model.Meeting.Date;
}

<table class="table">
    <tbody>
        <tr>
            <td>
                Name: @Model.FirstName @Model.LastName
            </td>
            <td></td>
            <td>
                Meeting Time: @ViewBag.MeetingTime
            </td>
        </tr>
        <tr>
            <td>
                @Model.Email
            </td>
        </tr>
    <tr>
        <td></td>
        <td>
            <div>
                <a asp-action="ApproveMeeting" asp-route-id="@Model.Hold.Id"
                   class="btn btn-primary">Approve</a>
            
                <a asp-action="AdvisementSessions"
                   class="btn btn-secondary">Cancel</a>
            </div>

            <div>
                <a asp-action="RemoveHold" asp-route-id="@Model.Hold.Id"
                   class="btn btn-danger">Remove Hold</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

