@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@model ConfirmApprovalVM
@{
    ViewBag.Title = "Student Advisement Manager Approve Meeting";
}

<div class="card align-items-center shadow-lg p-3 mb-3 bg-white rounded">
    <p style="color: blue; font-size: 40px">Are you sure you want to approve this meeting?</p>

    <div>
        <p>Advisor: @Model.Advisor.FullName</p>
        <p>Student: @Model.Student.FullName</p>
        <p>Meeting Time: @Model.Meeting.Date</p>
    </div>

    @if (string.IsNullOrEmpty(Model.Notes)) 
    { 
        <p style="color:red">You haven't included any notes.</p>
    }

    <div>
        <a
           asp-action="ApproveMeetingAndUpdateHold" 
           asp-route-id="@Model.Meeting.Id" 
           asp-route-notes="@Model.Notes"
           asp-route-userName="@Context.Request.Cookies["AdvisementManager.LoginUser"]" 
           class="btn btn-primary">Yes</a>
        <a asp-action="AdvisementSession" asp-route-id="@Model.Meeting.Id" class="btn btn-outline-danger">No</a>
    </div>
</div>