@using AdvisementManagerWebApp.Resources
@model AdvisementSessionVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var cleanedReason = Model.student.Hold.Reason.Trim();
    var advisorType = Model.advisor.IsFacultyAdvisor;
    var pastNotes = string.Empty;
}

@if (@Model.student.Meeting == null)
{
    ViewBag.MeetingTime = "no meeting scheduled";
}
else
{
    ViewBag.MeetingTime = @Model.student.Meeting.Date;
}


<table class="table">
    <tbody>
        <tr>
            <td>
                Name: @Model.student.FirstName @Model.student.LastName
            </td>
            <td></td>
            <td>
                Meeting Time: @ViewBag.MeetingTime
            </td>
        </tr>
        <tr>
            <td>
                @Model.student.Email
            </td>
            <td></td>
            <td></td>
        </tr>
    <tr>
        <td>
            Hold: @Model.student.Hold.Reason
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Notes: @(Environment.NewLine)@foreach (var session in Model.PastSessions)
        {
            <p>Advisor: @session.Advisor.FirstName @(session.Advisor.LastName) <br />
            Date: @(session.Date) <br />
            Notes: @(session.Notes)<br /><br /></p>
        } </td>
    </tr>
        <tr>
            <td></td>
            <td>
                <div>
                    @if (Model.student.Meeting != null)
                    {
                        if (advisorType && cleanedReason.Equals(ConstantManager.NeedToMeetFacAdvisor) ||
                            !advisorType && cleanedReason.Equals(ConstantManager.NeedToMeetDptAdvisor))
                        {
                            <form asp-action="ApproveMeeting" asp-route-notes="@Model.Notes" 
                                  asp-route-holdId="@Model.student.Hold.Id" asp-route-time="@Model.student.Meeting.Date" 
                                  asp-route-advisorId="@Model.advisor.Id" asp-route-meetingId="@Model.student.Meeting.Id"  asp-route-userName="@Context.Request.Cookies["AdvisementManager.LoginUser"]"
                                  method="post">
                                <textarea asp-for="Notes" class="form-control" cols="40" rows ="5"></textarea>
                                <button type="submit" class="btn btn-primary">Approve</button>
                            </form>
                        }
                    }
                    else if (!advisorType && cleanedReason.Equals(ConstantManager.WaitingForHoldRemoval))
                    {
                        <a asp-action="RemoveHold" asp-route-id="@Model.student.Hold.Id" asp-route-userName="@Context.Request.Cookies["AdvisementManager.LoginUser"]"
                           class="btn btn-danger">Remove Hold</a>
                    }

                    <a asp-action="AdvisementSessions" asp-route-userName="@Context.Request.Cookies["AdvisementManager.LoginUser"]"
                       class="btn btn-secondary">Cancel</a>
                </div>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<div>@TempData["MeetingTimeError"]</div>

